@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:300,400,500,700,900|Raleway:300,400,500,700,900&display=swap');

/* GLOBALS START */
body {
	font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Cinzel Decorative', cursive;
}
/* GLOBALS END */

/* BUTTONS START */
.btn-success {
	color: #fff;
	background-color: #0D5E10;
	border-color: #0D5E10;
}
/* BUTTONS END */

/* BADGES START */
.badge-success {
	color: #fff;
	background-color: #0D5E10;
	border-color: #0D5E10;
}
/* BADGES END */

/* BACKGROUNDS START */
.bg-secondary {
	color: #fff;
	background-color: #0d5b5e !important;
	background: linear-gradient(to right, #0d5b5e, #100d5e);
}

.bg-custom {
	color: #fff;
	background: #5e0d5b;
	background: linear-gradient(to right, #100d5e, #5e0d5b);
}

.bg-secondary a {
	color: 	#d2973b;
	font-weight: bold;
}

/* BACKGROUNDS END */

#salah-times {
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

/* CAROUSEL START */
.carousel-item {
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* CAROUSEL END */

.social-link {
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #666;
	border-radius: 50%;
	transition: all 0.3s;
	font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
	background: #ddd;
	text-decoration: none;
	color: #555;
}

.nav-narrow {
	height: 30px !important;
}

.nav-wide {
	background-color: rgb(46, 48, 75);
}

.how-section1 {
	margin-top: -10%;
	padding: 5%;
}

.how-section1 h4 {
	font-size: 30px;
}

.how-section1 .subheading {
	color: #3931af;
	font-size: 20px;
}

.how-section1 .row {
	margin-top: 10%;
}

.how-img {
	text-align: center;
}

.how-img img {
	width: 100%;
}

/*===========================================================================*/
/*Parallax Section*/
/*===========================================================================*/
.parallax-section {
	float: left;
	width: 100%;
	background: url(../images/parallax-bg.jpg) no-repeat left top/cover;
	padding: 50px 0;
}

.parallax-section .right-box {
	float: right;
	width: 770px;
}

.parallax-section .right-box img {
	float: right;
	margin: 0 0 20px 0;
}

.parallax-section .right-box strong.title {
	display: block;
	font: 300 25px/25px 'Cinzel Decorative', cursive;
	color: #fff;
	clear: both;
	padding: 0 0 15px 0;
}

.parallax-section .right-box a {
	display: block;
	font: 400 14px/14px 'Cinzel Decorative', cursive;
	;
	text-decoration: none;
}

.contact4 {
	font-family: "Montserrat", sans-serif;
	color: #8d97ad;
	font-weight: 300;
}

.contact4 h1,
.contact4 h2,
.contact4 h3,
.contact4 h4,
.contact4 h5,
.contact4 h6 {
	color: #3e4555;
}

.contact4 .font-weight-medium {
	font-weight: 500;
}

.contact4 .form-control {
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
}

.contact4 .form-control:focus {
	border-color: #ffffff;
}

.contact4 input::-webkit-input-placeholder,
.contact4 textarea::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.contact4 input:-ms-input-placeholder,
.contact4 textarea:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.contact4 input::placeholder,
.contact4 textarea::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.contact4 .right-image {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
}

.contact4.bg-info {
	background-color: #0D5E10 !important;
}

.contact4 .text-inverse {
	color: #3e4555 !important;
}

@media (min-width: 1024px) {
	.contact4 .contact-box {
		padding: 80px 105px 80px 0px;
	}
}

@media (max-width: 767px) {
	.contact4 .contact-box {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 1023px) {
	.contact4 .right-image {
		position: relative;
		bottom: -95px;
	}
}


/*===========================================================================*/
/*768px And 992px CSS*/
/*===========================================================================*/
@media (min-width: 768px) and (max-width: 992px) {
	.parallax-section .right-box {
		width: 100%;
	}
}

/*===========================================================================*/
/*767px CSS*/
/*===========================================================================*/
@media (max-width: 767px) {
	.parallax-section .right-box {
		width: 100%;
	}

	.parallax-section .right-box img {
		width: 100%;
	}
}

/*===========================================================================*/
/*480px CSS*/
/*===========================================================================*/
@media (min-width: 320px) and (max-width: 480px) {
	.parallax-section .right-box {
		width: 100%;
	}

	.parallax-section .right-box img {
		width: 100%;
	}
}

.alert-warning {
	background-color: #ffee00;
	color: #211d22;
}

.navbar-toggler.collapsed .close-icon {
	display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
	display: inline;
}



.schedule-warp {
	padding-right: 20px;
	padding-left: 20px;
	padding: 20px 30px;
	border: solid 1px #ddd;
	background-color: #f5f5f5;
	-webkit-transition: all 0.7s cubic-bezier(0.11, 0.6, 0.24, 0.89);
	transition: all 0.7s cubic-bezier(0.11, 0.6, 0.24, 0.89);
}

.schedule {
	background-color: #fff;
}

.schedule-warp:hover {
	box-shadow: 0 6px 20px rgba(0, 0, 0, .07);
	border: solid 1px rgba(100, 40, 145, .97);
}

.schedule {
	padding: 100px 0px;
	background-color: #ecedf0;
	font-family: 'Titillium Web';
}

.schedule-tag {
	padding: 3px 8px;
	margin-right: 15px;
	width: 90px;
	font-family: 'Titillium Web';
	text-align: center;
}

.schedule-tag-boys {
	color: #fff;
	background-color: #2779d6;
}

.schedule-tag-girls {
	color: #fff;
	background-color: #b261b2;
}

.schedule-header span {
	display: inline-block;
	margin-right: 25px;
}

.schedule-header {
	margin-bottom: 80px;
}

.schedule-card {
	position: relative;
	margin-bottom: 0.7em;
}

.schedule-card:hover .insidebox {
	transform: scale(1.033);
	/* box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1); */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.schedule-card:hover:after {
	background: #8a56d1;
	width: 25px;
}

.schedule-card:after {
	height: 2px;
	width: 22px;
	background: #ddd;
	content: '';
	position: absolute;
	top: 50%;
	left: -22px;
	transition: all 0.3s ease-in;
}

.insidebox {
	box-shadow: 0 0px 5px rgba(0, 0, 0, .07);
	background: #ffffff;
	width: 100%;
	height: auto;
	display: flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -webkit-flex;
	display: -o-flex;
	-webkit-align-items: center;
	align-items: center;
	padding: 10px 20px;
	color: #6164B2;
	transition: all 0.2s ease-in;
	/*    justify-content: center;*/
}

.day-one {
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 20px;
	color: #6164B2;
}

.bg-cover {
	color: #ffffff;
}

.bg-cover {
	background: url(../images/mos-bg.png) no-repeat top center fixed;
	background-size: cover;
	padding: 20px 0;
	width: 100%;
	float: left;
	position: relative;
}

.bg-cover:after {
	content: "";
	background: rgba(73, 73, 73, 0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.bg-cover .container {
	position: relative;
	z-index: 99;
}

section.pricing {
	background: #5e0d5b;
	background: linear-gradient(to right, #5e0d5b, #100d5e);
}

.pricing .card {
	border: none;
	border-radius: 1rem;
	transition: all 0.2s;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
	margin: 1.5rem 0;
}

.pricing .card-title {
	margin: 0.5rem 0;
	font-size: 0.9rem;
	letter-spacing: .1rem;
	font-weight: bold;
}

.pricing .card-price {
	font-size: 3rem;
	margin: 0;
	color: #0d5b5e;
}

.pricing .card-price .period {
	font-size: 0.8rem;
}

.pricing ul li {
	margin-bottom: 1rem;
}

.pricing .text-muted {
	opacity: 0.7;
}

.pricing .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	opacity: 0.7;
	transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
	.pricing .card:hover {
		margin-top: -.25rem;
		margin-bottom: .25rem;
		box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	}

	.pricing .card:hover .btn {
		opacity: 1;
	}
}

.bg-cover-2 {
	background: url(https://c0.wallpaperflare.com/preview/267/712/965/islamic-prayer-dusk-sun.jpg) no-repeat top center fixed;
    background-size: cover !important;
}